@model Login
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLoginRegister.cshtml";
}

<form method="post" asp-action="Login" asp-controller="Account">
    <h3 class="text-muted mb-1 text-center" style="font-size:20px">Login</h3>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3">
        <label class="mb-2" asp-for="UsernameOrEmail"></label>
        <input type="text" class="form-control" asp-for="UsernameOrEmail" autocomplete="off" placeholder="Enter Username/Email" />
        <span asp-validation-for="UsernameOrEmail" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="mb-2" asp-for="Password"></label>
        <input type="password" class="form-control" asp-for="Password" autocomplete="off" placeholder="Enter Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="float-end">
        <button type="submit" class="btn btn-primary m-2">LogIn</button>
    </div>
</form>
@section scripts {
    <partial name="_ValidationScriptsPartial.cshtml" />
}
