html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.login-logout-card .card-header{
    padding:0 0 12px 0;
}

.login-logout-card ul.nav-tabs{
    margin: 0 0 -12px 0;
}

.login-logout-card li.nav-item{
    width: 50%;
}

.login-logout-card a.nav-link{
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

.login-logout-card .card-body{
    padding: 10px 20px;
}